* {
	box-sizing: border-box;
}
html {
    position: relative;
    min-height: 100%;
}

body {
	font-family: 'Raleway', sans-serif;
	background: url("http://centralhighlands.com.au/files/2014/12/weather-hero.jpg") no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
	margin: 0 0 100px;
	padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Shadows Into Light', cursive;
}

main {
	text-align: center;
}

button {
	border: 1px solid black;
	color: white;
	padding: 8px 24px;
	font-size: 18px;
	background-image: -webkit-linear-gradient(#f98257, #ff006a);
	cursor: pointer;
}

#display {
	max-width: 30%;
	margin-left: 35%;
	margin-top: 20px;
	padding: 10px;
	text-align: center;
	color: white;
}

#temp {
	font-size: 30px;
}

.showBackground {
	background-color: rgba(0,0,0,0.5);
}

#unit {
	display: none;
	margin-top: 5px;
}

footer {
  background-color: rgba(249, 130, 87, 0.4);
  position: absolute;
  left: 0;
  bottom: 0;
  height: 30px;
  width: 100%;
  overflow:hidden;
	padding-top: 5px;
	padding-left: 10px;
}
footer > p {
	float: right;
	margin-top: 0;
	margin-right: 5px;
	color: #f98257;
}

a {
	color: #ff006a;
	text-decoration: none;
	text-shadow: 1px 2px 3px black;
}
